@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Global Styles */
:root {
  --primary-color: #525252;
  --secondar-color: #4336fd;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #333;
  color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.center {
  text-align: center;
}

.text-primary {
  color: #a1a1a1;
}

.text-light {
  color: #f4f4f4;
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

.badge {
  font-size: 0.8rem;
  background-color: #a1a1a1;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  color: #333;
  border-radius: 5px;
}

.round-img {
  border-radius: 50%;
}

table th,
table td,
table head,
table body {
  padding: 1rem;
  text-align: left;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
